<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.peng.server.mapper.AdminMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.peng.server.pojo.Admin">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="phone" property="phone" />
        <result column="telephone" property="telephone" />
        <result column="address" property="address" />
        <result column="enabled" property="enabled" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="remark" property="remark" />
        <result column="roleid" property="roleid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, phone, telephone, address, enabled, username, password, remark, roleid
    </sql>
    
<!--    获取所有用户-->
    <select id="getAllAdmins" resultMap="BaseResultMap">
        SELECT
            a.*
        from
            t_admin a
        WHERE
            a.id!=#{id}
    </select>
    
<!--    添加用户-->
<!--    <insert id="addAdminByAdminId" >-->

<!--    </insert>-->
</mapper>
