<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.peng.server.mapper.ExamMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.peng.server.pojo.Exam">
        <result column="week" property="week"/>
        <result column="section" property="section"/>
        <result column="teacher_id" property="teacher_id"/>
        <result column="course_id" property="course_id"/>
        <result column="class_id" property="class_id"/>
        <result column="course_name" property="course_name"/>
        <result column="teacher_name" property="teacher_name"/>
        <result column="id" property="id"/>
        <result column="time" property="time"/>
        <result column="starttime" property="starttime"/>
        <result column="endtime" property="endtime"/>
        <result column="roomid" property="roomid"/>
    </resultMap>

    <resultMap id="examMap" type="com.peng.server.pojo.Exam" extends="BaseResultMap">
        <collection property="room" ofType="com.peng.server.pojo.Classroom">
            <id column="roomid" property="id"/>
            <result column="rmname" property="rmname"/>
        </collection>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        week
        , section, teacher_id, course_id, class_id, course_name, teacher_name, id, time, starttime, endtime, classid
    </sql>

    <select id="getExamServiceByAdminId" resultMap="examMap">
        sELECT
        DISTINCT
        ex.*
                                ,
        cr.rmname
        from
        t_admin ad,
        t_admin_role ar,
        t_role rl,
        t_student st,
        t_teacher tc,
        t_sysclass cl,
        t_course cs,
        t_exam ex,
        t_classroom cr
        where
        ad.id=#{id}
        and
        IF(
        <![CDATA["ad.id < 1000000"]]>
        ,
        ad.roleid=st.id
        and
        st.class_id=ex.class_id
        and
        ex.roomid=cr.id
        ,
        IF(
            <![CDATA["ad.id < 1000000000"]]>
        ,
        ad.roleid=tc.id
        and
        tc.id=ex.teacher_id
        and
        ex.roomid=cr.id
        ,
        ex.id
        and
        ex.roomid=cr.id
        )
        )
    </select>
</mapper>
